@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,800|Lato:300,400,700|Parisienne&display=swap');

@mixin heading-font {
  font-family: 'EB Garamond', serif;
}
.font-heading {
  @include heading-font;
}

@mixin body-font {
  font-family: 'Lato', sans-serif;
}
.font-body {
  @include body-font;
}

@mixin script-font {
  font-family: 'Parisienne', cursive;
}
.font-script {
  @include script-font;
}
