@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600|Lato:400,700|Great+Vibes|Material+Icons&display=swap');

@mixin heading-font {
  font-family: 'EB Garamond', serif;
}
.font-heading {
  @include heading-font;
}

@mixin body-font {
  font-family: 'Lato', sans-serif;
}
.font-body {
  @include body-font;
}

@mixin script-font {
  font-family: 'Great Vibes', cursive;
}
.font-script {
  @include script-font;
}

@mixin icon-font {
  font-family: 'Material Icons', sans-serif;
}
.font-icon {
  @include icon-font;
}
