*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: $color-white;
  color: $color-black;
  @include body-font;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

main {
  min-height: 100vh;
  padding: 175px 0;
}

.app-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  width: 75%;
  margin: 0 auto;
}

h2.page-header {
  margin-top: 0.5em;
}