*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: $color-black;
  @include body-font;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  z-index: 0;
}

#background {
  position: fixed;
  top: 50%;
  left: 25%;
  width: 85%;
  height: 85%;
  background: $color-white url('/images/background.jpg') no-repeat center center;
  background-size: 100%;
  z-index: -1;
}

.page-container {
  min-height: 100vh;
  padding: 175px 0;
}

.app-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  width: 75%;
  margin: 0 auto;
}

h2.page-header {
  margin-top: 0.5em;
}
