h1, h2 {
  @extend .text-spaced;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 3em;
}

.text-spaced {
  letter-spacing: 0.25em;
}

.text-upper {
  text-transform: uppercase;
}