$color-white: #fff;
$color-lightgrey: #ccc;
$color-midgrey: #888;
$color-black: #222;
$color-pink: #f9a;
$color-pink-lighter-1: #fab;
$color-pink-lighter-2: #fbc;
$color-pink-darker-1: #e89;
$color-pink-darker-2: #d78;
$color-gold: #eb4;
$color-gold-lighter-1: #fc5;
$color-gold-lighter-2: #fd6;
$color-gold-darker-1: #da3;
$color-gold-darker-2: #c92;