$color-white: #fff;
$color-lightgrey: #ccc;
$color-midgrey: #888;
$color-black: #222;
$color-pink: #f9a;
$color-pink-lighter-1: #fab;
$color-pink-lighter-2: #fbc;
$color-pink-darker-1: #e89;
$color-pink-darker-2: #d78;
$color-gold: #ccb55f;
$color-gold-lighter-1: #dcc467;
$color-gold-lighter-2: #ebd36f;
$color-gold-darker-1: #bda657;
$color-gold-darker-2: #ad974f;
$color-red: #e12;
$color-green: #3a4;
